extends ../templates/base.pug

block content
  .rsvp
    .rsvp-header
      p
        strong.
          RSVPs are currently closed. If you need to change your RSVP status, please call Racheal & Gino, Shannon & Rob, or Tina & Arthur. Thank you!

    .rsvp-form
      h2 RSVP
      hr
      div
        .form-group
          label Tell us who you are.
          select(disabled=true id="guestselect" name="guest").form-control
            option(value=-1) Select Yourself From The List
            option(value=-2) I Can't Find Myself In The List
            each guest,index in guestlist.guests || []
              option(value=index) #{guest.name}
        .form-group(id="attending_group")
          label Will you be attending?
          br
          input(disabled=true type="radio" name="attending" id="yes" value="yes" checked)
          label(for="yes").attending-radio Yes
          input(disabled=true type="radio" name="attending" id="no" value="no")
          label(for="no") No

        .form-group(id="fallbackguest").hidden
          label Can't find yourself above? Please type your name below.
          input(disabled=true id="fallback" type="text" placeholder="Your name..." name="guest-fallback").form-control
        hr
        div(id="plusonegroup").hidden
          .form-group.plus-one-group
            input(disabled=true id="accept-plus-one" type="checkbox")
            label I plan to bring a +1
          .form-group
            label Please enter their name here.
            input(disabled=true id="plusone" type="text" placeholder="Guest's Name" name="plusone").form-control
          hr
        .form-group
          label Will anyone from your party not be able to attend?
          textarea(disabled=true rows="3" id="party_rsvp" name="party_rsvp" placeholder="John Doe, Jane Doe...").form-control
        .form-group
          label Have a song in mind? Enter it here!
          textarea(disabled=true rows="3" id="song-requests" name="song_requests" placeholder="Your songs here...").form-control
        .form-group
          span If you have any dietary restrictions, please enter them here.
          textarea(disabled=true rows="3" id="diet-restrictions" name="diet_restrictions" placeholder="I can't eat...").form-control

        .submit-container
          button(disabled=true id="submit-button").rsvp-button.btn.btn-primary
            span RSVP
            span= " "
            span(id="rsvp-loader").fas.fa-spinner.fa-pulse.hidden

          span(id="error-message").error-message.hidden
          span(id="success-message").success-message.hidden